.git
.github
.gitignore
.gitmodules
node_modules
apps/**/node_modules
apps/**/dist
apps/**/.husky
apps/**/test-results
infrastructure/vps
infrastructure/gbrain
*.orig
*.rej
*.vps
*.log
coverage
.vscode
.idea
